.model{
  font-family: Montserrat;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bolder;
  font-size: 50px;
}
.order{
    font-family: Montserrat;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}

.touch{
    text-decoration: underline;
    cursor: pointer;
}